:root {
    --mobile-width: 70vw;

    --width: 50vw;
    --heigth: 5vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100vw;
    min-height: 90vh;

    background-color: rgb(224, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
}

form{
    width: var(--width);
    display: flex;
    margin: 1rem;
    flex-direction: column;
}

form label, input, button{
    margin: .2rem;
    height: var(--heigth);
}

input {
    padding: 1rem;
}

@media only screen and (max-width: 800px){
    form{
        width: var(--mobile-width);
        display: flex;
        margin: 1rem;
        flex-direction: column;
    }    
}